/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */

@font-face {
  font-family: 'Mark';
  src: url('https://cdn.aircall.io/fonts/33182D_2_0.eot');
  src: url('https://cdn.aircall.io/fonts/33182D_2_0.woff2') format('woff2'),
    url('https://cdn.aircall.io/fonts/33182D_2_0.woff') format('woff'),
    url('https://cdn.aircall.io/fonts/33182D_2_0.ttf') format('truetype'),
    url('https://cdn.aircall.io/fonts/33182D_2_0.svg#wf') format('svg'),
    url('https://cdn.aircall.io/fonts/33182D_2_0.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('https://cdn.aircall.io/fonts/33182D_5_0.eot');
  src: url('https://cdn.aircall.io/fonts/33182D_5_0.woff2') format('woff2'),
    url('https://cdn.aircall.io/fonts/33182D_5_0.woff') format('woff'),
    url('https://cdn.aircall.io/fonts/33182D_5_0.ttf') format('truetype'),
    url('https://cdn.aircall.io/fonts/33182D_5_0.svg#wf') format('svg'),
    url('https://cdn.aircall.io/fonts/33182D_5_0.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('https://cdn.aircall.io/fonts/33182D_3_0.eot');
  src: url('https://cdn.aircall.io/fonts/33182D_3_0.woff2') format('woff2'),
    url('https://cdn.aircall.io/fonts/33182D_3_0.woff') format('woff'),
    url('https://cdn.aircall.io/fonts/33182D_3_0.ttf') format('truetype'),
    url('https://cdn.aircall.io/fonts/33182D_3_0.svg#wf') format('svg'),
    url('https://cdn.aircall.io/fonts/33182D_3_0.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Mark', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #424242;
  font-weight: 300;
  line-height: 1.3;
}

nav {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgb(201, 238, 189);
  padding: 10px 2vw;
  justify-content: space-between;
  z-index: 10;
}

.nav-content {
  display: flex;
  line-height: 50px;
}

.nav-content a {
  margin: 0 1vw;
  text-decoration: none;
  font-size: 20px;
  color: #7f7f7f;
}

.nav-content a:hover {
  color: #121212;
}

#link-aircall {
  width: 100px;
  display: flex;
}
#link-aircall img {
  margin: auto;
  width: 100px;
  position: relative;
  top: -4px;
}

#phone-aircall {
  width: 40px;
  display: flex;
  cursor: pointer;
}
#phone-aircall img {
  width: 40px;
  margin: auto;
}

main {
  margin-top: 70px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.jumbotron {
  padding: 70px 10vw;
  background-color: rgb(201, 238, 189);
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron p {
  margin-top: 20px;
  font-size: 18px;
  color: #7f7f7f;
}

.container {
  position: relative;
}

.dark-box {
  width: 40%;
  background-color: #393939;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container h2 {
  margin-right: 40%;
  padding: 0px 3vw;
}
.container h3 {
  padding-bottom: 20px;
}

#installation {
  padding-top: 40px;
}

.row .left {
  width: 60%;
  padding: 30px 3vw 70px 3vw;
  position: relative;
  background-color: #f4f4f4;
}

.row .left.no-alert {
  padding-bottom: 30px;
}

.row p {
  line-height: 2;
}

.row .right {
  width: 40%;
  background: #444444;
}

.row {
  display: flex;
  align-items: stretch;
  padding: 50px 0;
}

.button {
  background-color: #4ac420;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  outline: none;
  transition: background-color 300 ease-in;
}

.button:hover {
  background-color: #379717;
  transition: background-color 300 ease-in;
}

.button:disabled {
  background-color: rgb(201, 238, 189);
  color: #7f7f7f;
  cursor: not-allowed;
}

.alert {
  padding: 10px 20px;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.alert.alert-success {
  background-color: #4ac420;
}

.alert.alert-danger {
  background-color: #f96772;
}

.alert.alert-warning {
  background-color: #f7bd42;
}

.alert.alert-info {
  background-color: #29c8ff;
}

#phone-container {
  position: fixed;
  top: 65px;
  right: 10px;
  z-index: 30;
}
#phone-container .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #c2c8cc;
  position: absolute;
  right: 3.3vw;
  top: -5px;
}

#phone {
  border-radius: 5px;
  background-color: #eaeaea;
  border: 3px solid #c2c8cc;
  overflow: hidden;
  height: 672px;
  width: 382px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#phone iframe {
  border-radius: 2px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.d-flex > :first-child {
  margin-right: 20px !important;
}

pre {
  font-family: monospace;
}

pre.prettyprint {
  width: 100% !important;
  margin: 0 !important;
  padding: 30px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.left pre.prettyprint {
  background-color: #666666 !important;
  width: auto !important;
  flex-grow: 1;
}

#call-info-logs {
  background-color: #666666;
  padding: 30px;
  color: #ffffff;
  width: auto;
  flex-grow: 2;
  white-space: pre-wrap;
}

#send-events-buttons {
  justify-content: flex-start;
}
